package ${package.Service};

import ${package.Entity}.${entity};
import ${package.Parent}.dto.${entity}Resp;
import ${package.Parent}.dto.query.${entity}Query;
import top.bitplanet.devops.support.mybatisplus.base.TYBaseService;

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends TYBaseService<${entity}, ${entity}Query, ${entity}Resp> {

}
#end
